<div class="modal fade show d-block" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Empleado</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="cancelarEdicion()"></button>
      </div>

      <div class="modal-body">
        <form #form="ngForm" (ngSubmit)="actualizarEmpleado(form)">
          <div class="form-group">
            <label for="nombreEmpleado">Nombre</label>
            <input
              type="text"
              id="nombreEmpleado"
              [(ngModel)]="empleado.nombreEmpleado"
              name="nombreEmpleado"
              class="form-control"
              required
            />
          </div>

          <div class="form-group">
            <label for="aPEmpleado">Apellido Paterno</label>
            <input
              type="text"
              id="aPEmpleado"
              [(ngModel)]="empleado.aPEmpleado"
              name="aPEmpleado"
              class="form-control"
              required
            />
          </div>

          <div class="form-group">
            <label for="aMEmpleado">Apellido Materno</label>
            <input
              type="text"
              id="aMEmpleado"
              [(ngModel)]="empleado.aMEmpleado"
              name="aMEmpleado"
              class="form-control"
            />
          </div>

          <div class="form-group">
            <label for="correo">Correo</label>
            <input
              type="email"
              id="correo"
              [(ngModel)]="empleado.correo"
              name="correo"
              class="form-control"
              required
            />
          </div>

          <div class="form-group">
            <label for="telefono">Teléfono</label>
            <input
              type="tel"
              id="telefono"
              [(ngModel)]="empleado.telefono"
              name="telefono"
              class="form-control"
              required
            />
          </div>

          <div class="form-group">
            <label for="idEspecialidadFK">Especialidad</label>
            <select
              id="idEspecialidadFK"
              [(ngModel)]="empleado.idEspecialidadFK"
              name="idEspecialidadFK"
              class="form-control"
              required
            >
              <option *ngFor="let especialidad of especialidades" [value]="especialidad.idEspecialidad">
                {{ especialidad.nombreEspecialidad }}
              </option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary">Guardar cambios</button>
          <button type="button" class="btn btn-secondary" (click)="cancelarEdicion()">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
