.wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

app-barra-lateral {
    height: 100vh;
    flex-shrink: 0;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.p-3 {
    flex-grow: 1;
    max-height: 100vh;
    background-color: #fafbfe;
    padding: 2rem;
    overflow-y: auto;
}

.expediente-info {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
  }
  

.nav-tabs {
    margin-bottom: 1rem;
    border-bottom: 2px solid #dee2e6;
}

.nav-link {
    color: #495057;
    margin-right: 5px;
    border: 1px solid transparent;
    border-radius: 0.25rem 0.25rem 0 0;
}

.nav-link.active {
    color: #fff;
    background-color: #001f3f;
    border-color: #001f3f #001f3f #dee2e6;
}

.tab-content {
    padding: 1rem;
    background: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}
.documentacion-legal {
    max-width: 600px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    color: #333;
    background: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }



