<div class="breadcrumb">
  <h1>{{ activePage }}</h1>
  <ul class="breadcrumb-list">
    <li class="breadcrumb-item">
      <a [routerLink]="homeBreadcrumb.url">{{ homeBreadcrumb.label }}</a>
    </li>
    <li *ngFor="let item of breadcrumbs; let last = last" 
        class="breadcrumb-item" 
        [class.separator]="!last">
      <ng-container *ngIf="!last">
        <a [routerLink]="item.url">{{ item.label }}</a>
      </ng-container>
      <ng-container *ngIf="last">
        <span class="active">{{ item.label }}</span>
      </ng-container>
    </li>
  </ul>
</div>
