.wrapper {
    display: flex; /* Asegura que los hijos se alineen horizontalmente */
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
    overflow: hidden; /* Evita el desbordamiento del contenedor principal */
  }
  
  app-barra-lateral {
    height: 100vh; /* Asegura que la barra lateral ocupe toda la altura de la ventana */
    flex-shrink: 0; /* Evita que la barra lateral se reduzca */
  }
  
  .main {
    flex-grow: 1; /* Permite que el contenedor principal ocupe el espacio restante */
    display: flex;
    flex-direction: column; /* Permite que el contenido de la clase .p-3 se apile verticalmente */
  }
  
  .p-3 {
    background-image: url('/imagenes/fondo1.jpg'); /* Ruta desde la raíz del servidor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    flex-grow: 1; /* Permite que el contenedor principal ocupe el espacio restante */
    max-height: 100vh; /* Asegura que el contenido no exceda la altura de la ventana */
    background-color: #fafbfe; /* Color de fondo igual al de la barra lateral */
    padding: 2rem; /* Añade algo de espacio alrededor del contenido */
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido es muy grande */
  }
  
  .settings-container {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .settings-container h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 2rem;
  }
  
  .settings-options {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
  
  .settings-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    flex: 1 1 calc(33.333% - 1.5rem);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .settings-card h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .settings-card p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1.5rem;
  }
  
  .btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    display: flex
    
  }
  
  .btn-primary {
    background-color: #3498db;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #e0eaf1;
  }