.wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden; /* Evita el desbordamiento */
}

.app-barra-lateral {
  height: 100vh;
  flex-shrink: 0;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.p-3 {
  background-image: url('/imagenes/fondo1.jpg'); /* Ruta desde la raíz del servidor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  flex-grow: 1; /* Permite que el contenedor principal ocupe el espacio restante */
  max-height: 100vh; /* Asegura que el contenido no exceda la altura de la ventana */
  background-color: #fafbfe; /* Color de fondo igual al de la barra lateral */
  padding: 2rem; /* Añade algo de espacio alrededor del contenido */
  overflow-y: auto; /* Permite el desplazamiento vertical si el contenido es muy grande */
}

.card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 10px; /* Se añadió margen para separar las tarjetas */
  flex: 1 1 auto; /* Las tarjetas ocupan toda la anchura disponible */
  display: flex;
  flex-direction: column;
  min-height: 100%; /* Asegura que ocupe toda la altura disponible */
  box-sizing: border-box;
}

.card-prioridad-alta {
  background-color: #ff4d4d; /* Rojo claro */
  border: 1px solid #d9534f; /* Borde rojo oscuro */
}

.card-prioridad-alta .card-header {
  background-color: #d9534f; /* Color de fondo rojo en el header */
  color: white; /* Texto blanco en el header */
}

.card-prioridad-alta .card-body {
  color: #5a5a5a; /* Color de texto en el cuerpo de la tarjeta */
}


.row-cols-1,
.row-cols-md-2,
.row-cols-lg-3 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Se redujo el valor de gap para ajustarse mejor */
}

.card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Permite que el contenido de la tarjeta ocupe el espacio disponible */
  overflow-y: auto; /* Para el caso de contenido largo */
}

.table {
  width: 100%;
  margin-top: 15px;
}

.table th, .table td {
  text-align: center;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
}

.card-header h2 {
  font-size: 1.5rem;
  text-align: center;
  color: #0e2238;
}

.card-body p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

.p-3 h2,
.p-3 h3 {
  font-size: 1.8rem;
  color: #001f3f;
  font-weight: bold;
  margin-bottom: 15px;
}

.p-3 p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

.p-3 ul {
  list-style: none;
  padding: 0;
}

.p-3 ul li {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.p-3 button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.p-3 button:hover {
  background-color: #0056b3;
}

.modal button {
  background-color: #b30000;
}

button {
  font-size: 16px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-actualizar {
  background-color: #28a745;
  color: white;
  &:hover {
    background-color: #218838;
  }
}

.btn-eliminar {
  background-color: #dc3545;
  color: white;
  &:hover {
    background-color: #c82333;
  }
}

.table th, .table td {
  vertical-align: middle;
}


.modal button {
  background-color: #b30000;
  color: white;
}
