<app-nav-barra></app-nav-barra>
<app-breadcrumbs></app-breadcrumbs>

<!-- Carrusel con intervalos personalizados para cada imagen -->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" style="height:80%; width:auto;">
    <!-- Iteramos sobre los elementos del carrusel -->
    <div *ngFor="let item of carouselItems; let i = index" 
         class="carousel-item" [class.active]="i === 0" [attr.data-bs-interval]="item.interval">
      <img [src]="item.src" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5>{{ item.title }}</h5>
        <p>{{ item.description }}</p>
      </div>
    </div>
  </div>

  <!-- Controles del carrusel -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Contenido del Bufete de Abogados -->
<div class="container mt-5">
  <h2 class="text-center">LEX VARGAS</h2>
  <h3 class="text-center">Bufete de Abogados</h3>
  <p class="text-center">
    Firma de Abogados en México
  </p>

  <!-- Fila con tres columnas -->
  <div class="row">
    <div class="col-12">
      <p class="text-justify">
        Fundado en 1975, LexVargas es uno de los despachos de abogados más reconocidos de México, ofreciendo servicios integrales y especializados.
      </p>
    </div>

    <div class="col-12 col-md-6">
      <p class="text-justify">
        Hemos asesorado al sector público en la privatización de empresas y servicios, incluyendo los dos primeros proyectos de asociación público-privada en México.
      </p> 
    </div>
    <div class="col-12 col-md-6">
      <p class="text-justify">
        En LexVargas, nuestro éxito se basa en una combinación de amplia experiencia y habilidades versátiles de una nueva generación de abogados.
      </p>
    </div>

    <div class="col-12">
      <p class="text-justify">
        Colaboramos estrechamente con nuestros clientes para combinar conocimientos y experiencia, asegurando resultados óptimos.
      </p>
    </div>
  </div>
</div>

<app-pie-pagina></app-pie-pagina>
