<nav class="navbar navbar-expand-lg" style="background-color: #001f3f;"> <!-- Azul marino -->
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="logo/logoVargasLex.png" alt="LexVargas Logo" width="100" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Conócenos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Contacto</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Buscar</button> <!-- Cambiar a texto claro -->
      </form>
    </div>
  </div>
</nav>

<!-- Contenido del Bufete de Abogados -->
<div class="container mt-5">
  <h2>BUFETE DE ABOGADOS EN MÉXICO</h2>
  <h3>Bufete De Abogados</h3>
  <p>
    Firma De Abogados En México
  </p>
  <p>
    Somos una firma de abogados en la Ciudad de México, que brinda asesoría legal al sector público y privado, especializado en diferentes ramas del derecho, bajo un sistema de trabajo integral y ético, cuya finalidad es lograr resultados favorables a nuestros clientes. Cada uno de nuestros abogados en México cuenta con amplia experiencia en temas legales.
  </p>
</div>

<!-- Contenido -->
<div class="row">
  <div class="col-sm">
    Columna 1
  </div>
  <div class="col-sm">
    Columna 2
  </div>
  <div class="col-sm">
    Columna 3
  </div>
</div>
