.site-map {
    text-align: center;
    margin: 20px;
  }
  
  .main-category {
    font-size: 24px;
    font-weight: bold;
    background-color: #003366; /* Azul oscuro */
    color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
  }
  
  .category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .category {
    background-color: #003366; /* Azul oscuro */
    color: white;
    padding: 15px;
    width: 220px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .category-title {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
  }
  
  .category:hover {
    background-color: #0055a5; /* Azul más claro */
  }
  
  .subcategory-container {
    margin-top: 10px;
  }
  
  .subcategory {
    display: block;
    background-color: #009933; /* Verde */
    color: white;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .subcategory:hover {
    background-color: #00b33c; /* Verde más claro */
  }
  