<app-nav-barra></app-nav-barra>
<app-breadcrumbs></app-breadcrumbs>

<!-- Sección de Servicios -->
<div class="container mt-5">
  <h1 class="text-center text-primary fw-bold">Servicios</h1>

  <!-- Derecho Civil -->
  <div class="accordion" id="accordionDerechoCivil">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingCivil">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCivil" aria-expanded="true" aria-controls="collapseCivil">
          Derecho Civil
        </button>
      </h2>
      <div id="collapseCivil" class="accordion-collapse collapse" aria-labelledby="headingCivil" data-bs-parent="#accordionDerechoCivil">
        <div class="accordion-body">
          <!-- Servicios en Derecho Civil -->
          <div class="row">
            <div class="col-md-4">
              <div class="card tarjeta-servicio">
                <div class="card-body">
                  <h5 class="card-title">Asesoría Legal</h5>
                  <p class="card-text">Este servicio ofrece orientación y apoyo legal en temas civiles, ayudando a resolver conflictos entre personas o entidades en áreas como contratos, propiedad, herencias, y otros asuntos legales de carácter personal.</p>
                  <p class="precio">$150.00</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card tarjeta-servicio">
                <div class="card-body">
                  <h5 class="card-title">Mediación de Conflictos</h5>
                  <p class="card-text">Este servicio se enfoca en la resolución alternativa de conflictos, utilizando la mediación para facilitar un acuerdo entre las partes involucradas, evitando así la intervención de un juez y buscando soluciones pacíficas y amigables.</p>
                  <p class="precio">$250.00</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card tarjeta-servicio">
                <div class="card-body">
                  <h5 class="card-title">Gestión de Contratos</h5>
                  <p class="card-text">En este servicio se realiza la revisión, redacción y asesoría legal sobre contratos civiles, como acuerdos de compraventa, arrendamientos, entre otros, asegurando que se ajusten a la legislación vigente y protejan los intereses de las partes involucradas.</p>
                  <p class="precio">$220.00</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card tarjeta-servicio">
                <div class="card-body">
                  <h5 class="card-title">Asesoría en Divorcios</h5>
                  <p class="card-text">Este servicio está diseñado para proporcionar asesoramiento y representación legal en casos de divorcio, abordando temas como la división de bienes, pensiones alimenticias y custodia de los hijos, asegurando que los derechos de ambas partes sean respetados.</p>
                  <p class="precio">$350.00</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card tarjeta-servicio">
                <div class="card-body">
                  <h5 class="card-title">Asesoría Legal</h5>
                  <p class="card-text">Este servicio ofrece orientación y apoyo legal en temas civiles, ayudando a resolver conflictos entre personas o entidades en áreas como contratos, propiedad, herencias, y otros asuntos legales de carácter personal.</p>
                  <p class="precio">$150.00</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card tarjeta-servicio">
                <div class="card-body">
                  <h5 class="card-title">Mediación de Conflictos</h5>
                  <p class="card-text">Este servicio se enfoca en la resolución alternativa de conflictos, utilizando la mediación para facilitar un acuerdo entre las partes involucradas, evitando así la intervención de un juez y buscando soluciones pacíficas y amigables.</p>
                  <p class="precio">$250.00</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Derecho Comercial -->
  <div class="accordion" id="accordionDerechoComercial">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingComercial">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseComercial" aria-expanded="true" aria-controls="collapseComercial">
          Derecho Comercial
        </button>
      </h2>
      <div id="collapseComercial" class="accordion-collapse collapse" aria-labelledby="headingComercial" data-bs-parent="#accordionDerechoComercial">
        <div class="accordion-body">
          <!-- Servicios en Derecho Comercial -->
          <div class="row">
            <div class="col-md-4">
              <div class="card tarjeta-servicio">
                <div class="card-body">
                  <h5 class="card-title">Asesoría Inmobiliaria</h5>
                  <p class="card-text">Este servicio brinda orientación legal en el ámbito inmobiliario, ofreciendo asesoría en la compra, venta, arrendamiento y otros trámites relacionados con propiedades, con el fin de garantizar la seguridad jurídica de todas las partes involucradas.</p>
                  <p class="precio">$170.00</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card tarjeta-servicio">
                <div class="card-body">
                  <h5 class="card-title">Asesoría Legal</h5>
                  <p class="card-text">Este servicio ofrece orientación en todo tipo de cuestiones legales comerciales, como la constitución de empresas, la redacción de contratos mercantiles y la resolución de disputas entre empresas, ayudando a cumplir con las normativas y regulaciones del sector.</p>
                  <p class="precio">$150.00</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Derecho Ambiental -->
  <div class="accordion" id="accordionDerechoAmbiental">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingAmbiental">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAmbiental" aria-expanded="true" aria-controls="collapseAmbiental">
          Derecho Ambiental
        </button>
      </h2>
      <div id="collapseAmbiental" class="accordion-collapse collapse" aria-labelledby="headingAmbiental" data-bs-parent="#accordionDerechoAmbiental">
        <div class="accordion-body">
          <!-- Servicios en Derecho Ambiental -->
          <div class="row">
            <div class="col-md-4">
              <div class="card tarjeta-servicio">
                <div class="card-body">
                  <h5 class="card-title">Asesoría en Compliance</h5>
                  <p class="card-text">Este servicio se enfoca en asesorar a las empresas sobre cómo cumplir con las regulaciones ambientales nacionales e internacionales, evitando sanciones y asegurando prácticas empresariales responsables con el medio ambiente.</p>
                  <p class="precio">$220.00</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card tarjeta-servicio">
                <div class="card-body">
                  <h5 class="card-title">Asesoría Legal</h5>
                  <p class="card-text">Este servicio ofrece asistencia legal en el cumplimiento de la legislación ambiental, incluyendo la gestión de residuos, la protección de los recursos naturales y la mitigación de los impactos ambientales en proyectos industriales y comerciales.</p>
                  <p class="precio">$150.00</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Derecho de la Propiedad Intelectual -->
  <div class="accordion" id="accordionPropiedadIntelectual">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingPropiedad">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePropiedad" aria-expanded="true" aria-controls="collapsePropiedad">
          Derecho de la Propiedad Intelectual
        </button>
      </h2>
      <div id="collapsePropiedad" class="accordion-collapse collapse" aria-labelledby="headingPropiedad" data-bs-parent="#accordionPropiedadIntelectual">
        <div class="accordion-body">
          <!-- Servicios en Derecho de la Propiedad Intelectual -->
          <div class="row">
            <div class="col-md-4">
              <div class="card tarjeta-servicio">
                <div class="card-body">
                  <h5 class="card-title">Asesoría en Propiedad Intelectual</h5>
                  <p class="card-text">Este servicio se centra en proteger los derechos sobre las creaciones intelectuales, como patentes, marcas, derechos de autor, y más, asegurando que las invenciones y obras originales estén debidamente registradas y protegidas por la ley.</p>
                  <p class="precio">$250.00</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card tarjeta-servicio">
                <div class="card-body">
                  <h5 class="card-title">Gestión de Marcas</h5>
                  <p class="card-text">Este servicio se enfoca en la protección legal de marcas comerciales, ayudando a las empresas a registrar su marca y defenderla frente a posibles infracciones, así como a realizar la renovación de registros de marcas cuando sea necesario.</p>
                  <p class="precio">$200.00</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Derecho Fiscal -->
  <div class="accordion" id="accordionDerechoFiscal">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFiscal">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiscal" aria-expanded="true" aria-controls="collapseFiscal">
          Derecho Fiscal
        </button>
      </h2>
      <div id="collapseFiscal" class="accordion-collapse collapse" aria-labelledby="headingFiscal" data-bs-parent="#accordionDerechoFiscal">
        <div class="accordion-body">
          <!-- Servicios en Derecho Fiscal -->
          <div class="row">
            <div class="col-md-4">
              <div class="card tarjeta-servicio">
                <div class="card-body">
                  <h5 class="card-title">Asesoría en Derecho Fiscal</h5>
                  <p class="card-text">Este servicio proporciona consultoría en temas fiscales y de tributación, ayudando a las empresas y personas a cumplir con sus obligaciones fiscales, optimizando su carga tributaria y evitando posibles sanciones.</p>
                  <p class="precio">$300.00</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card tarjeta-servicio">
                <div class="card-body">
                  <h5 class="card-title">Gestión de Impuestos</h5>
                  <p class="card-text">Este servicio se enfoca en la gestión eficiente de impuestos, brindando asesoría para cumplir con las normativas fiscales, realizar declaraciones y pagos de impuestos, y llevar un control adecuado de las contribuciones fiscales.</p>
                  <p class="precio">$220.00</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Botón Cita -->
<a href="login" class="btn btn-primary btn-solicitar-cita" role="button">
  Solicitar Cita
</a>

<app-pie-pagina></app-pie-pagina>
