.wrapper {
  background-image: url('/imagenes/fondo1.jpg');
  display: flex; /* Asegura que los hijos se alineen horizontalmente */
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
  overflow: hidden; /* Evita el desbordamiento del contenedor principal */
}

.app-barra-lateral {
  height: 100vh; /* Asegura que la barra lateral ocupe toda la altura de la ventana */
  flex-shrink: 0; /* Evita que la barra lateral se reduzca */
}

.main {
  flex-grow: 1; /* Permite que el contenedor principal ocupe el espacio restante */
  display: flex;
  flex-direction: column; /* Permite que el contenido de la clase .p-3 se apile verticalmente */
}
.p-3 {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
  border-radius: 10px; /* Bordes redondeados */
  padding: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
  max-width: 600px;
  margin: 30px auto;
}

/* Estilos del formulario */
.form-container {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.form-control:focus {
  border-color: #80bdff;
  outline: none;
}

.form-control-file {
  padding-top: 10px;
}

.btn-submit {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #0056b3;
}
