<app-navbar></app-navbar> 

<form (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="form-container">
  <div class="form-group">
      <label for="nombre">Nombre del expediente:</label>
      <input type="text" [(ngModel)]="nombreExpediente" name="nombre" required class="form-control">
  </div>

  <div class="form-group">
      <label for="archivo">Subir archivo PDF:</label>
      <input type="file" (change)="onFileSelected($event)" accept="application/pdf" required class="form-control-file">
  </div>

  <button type="submit" class="btn btn-primary btn-submit">Subir</button>
</form>

<router-outlet></router-outlet>
