.wrapper {
    /* background-image: url('/imagenes/fondo1.jpg'); */
    display: flex; /* Asegura que los hijos se alineen horizontalmente */
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
    overflow: hidden; /* Evita el desbordamiento del contenedor principal */
  }
  
  .app-barra-lateral {
    height: 100vh; /* Asegura que la barra lateral ocupe toda la altura de la ventana */
    flex-shrink: 0; /* Evita que la barra lateral se reduzca */
  }
  
  .main {
    flex-grow: 1; /* Permite que el contenedor principal ocupe el espacio restante */
    display: flex;
    flex-direction: column; /* Permite que el contenido de la clase .p-3 se apile verticalmente */
  }
  .p-3 {
    display: flex;
    background-image: url('/imagenes/fondo1.jpg');
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
    margin: 0 auto; /* Elimina márgenes excesivos */
    height: 100%; /* Asegura que el contenedor ocupe toda la altura */
    overflow-y: auto;
  }
  
  .card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 10px; /* Se añadió margen para separar las tarjetas */
    flex: 1 1 auto; /* Las tarjetas ocupan toda la anchura disponible */
    display: flex;
    flex-direction: column;
    min-height: 100%; /* Asegura que ocupe toda la altura disponible */
    box-sizing: border-box;
  }
  
  
  
  .row-cols-1,
  .row-cols-md-2,
  .row-cols-lg-3 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Se redujo el valor de gap para ajustarse mejor */
  }
  
  .card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Permite que el contenido de la tarjeta ocupe el espacio disponible */
    overflow-y: auto; /* Para el caso de contenido largo */
  }
  
  .table {
    width: 100%;
    margin-top: 15px;
  }
  
  .table th, .table td {
    text-align: center;
  }
  
  .card-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
  }
  
  .card-header h2 {
    font-size: 1.5rem;
    text-align: center;
    color: #0e2238;
  }
  
  .card-body p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .p-3 h2,
  .p-3 h3 {
    font-size: 1.8rem;
    color: #001f3f;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .p-3 p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .p-3 ul {
    list-style: none;
    padding: 0;
  }
  
  .p-3 ul li {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  }
  
  .p-3 button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .p-3 button:hover {
    background-color: #0056b3;
  }
  
  