<div class="datos-partes">
    <h2>Datos de las Partes</h2>
    <h3>Parte Demandante</h3>
    <!-- Similar estructura para Parte Demandada y Terceros Relacionados -->
    <div>
      <p><strong>Relación con el caso:</strong> {{ partes?.demandante.relacionCaso }}</p>
      <p><strong>Nombre:</strong> {{ partes?.demandante.nombreCompleto }}</p>
      <p><strong>Identificación Oficial:</strong> {{ partes?.demandante.identificacionOficial }}</p>
      <p><strong>Fecha de Nacimiento:</strong> {{ partes?.demandante.fechaNacimiento }}</p>
      <p><strong>Domicilio:</strong> {{ partes?.demandante.domicilio }}</p>
      <p><strong>Teléfono:</strong> {{ partes?.demandante.telefono }}</p>
      <p><strong>Correo:</strong> {{ partes?.demandante.correo }}</p>
    </div>
  </div>
  