<div mat-dialog-content>
  <mat-card>
    <h1 mat-dialog-title>Formulario de Empleado</h1>

    <mat-card-content>
      <form>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre</mat-label>
          <input matInput [(ngModel)]="data.nombreEmpleado" name="nombre" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Apellido Paterno</mat-label>
          <input matInput [(ngModel)]="data.aPEmpleado" name="apellidoP" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Apellido Materno</mat-label>
          <input matInput [(ngModel)]="data.aMEmpleado" name="apellidoM" required>
        </mat-form-field>
      </form>
    </mat-card-content>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancelar</button>
      <button mat-button (click)="onConfirm()" cdkFocusInitial>Guardar</button>
    </div>
  </mat-card>
</div>

