<div class="wrapper">
    <app-barra-lateral></app-barra-lateral> <!-- Asegúrate de que el selector del componente sea correcto -->

    <div class="main">
        <nav class="navbar navbar-expand-lg p-0" style="background-color: #001f3f;"> <!-- Azul marino -->
            <div class="container-fluid p-0"> <!-- También aquí -->
                <a class="navbar-brand" href="/principal">
                    <img src="logo/logoLexVargasV.png" alt="LexVargas Logo" width="200"
                        class="d-inline-block align-text-top">
                </a>
            </div>
        </nav>

        <div class="p-3" >

            <app-breadcrumbs></app-breadcrumbs>
            
            <form class="formulario" id="formPagos">
                <div class="container-lg">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Realizar pago</h2>

                            <!-- Datos del expediente -->
                            <label for="folioExpediente">Folio:</label>
                            <input type="number" id="folioExpediente" name="folioExpediente" [(ngModel)]="folio"
                                placeholder="Escribe el folio aquí" required>
                            <span class="text-danger" *ngIf="esFolio">El folio no es valido</span>
                            <br />
                            <button class="btn btn-primary" (click)="obtenerPagos()">Buscar</button>

                            <!-- Spinner de carga -->
                            <div *ngIf="cargando" class="text-center my-3">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="visually-hidden">Cargando...</span>
                                </div>
                            </div>

                            <div *ngIf="!cargando && pago.length > 0">
                                <label for="nombre-cliente">Nombre del cliente:</label>
                                <input type="text" id="nombre-cliente" name="nombre-cliente"
                                    [value]="pago[0].nomCliente" readonly>

                                <label for="nombre-caso">Servicio:</label>
                                <input type="text" id="nombre-caso" name="nombre-caso" [value]="pago[0].nomServicio"
                                    readonly>

                                <label for="monto-total">Monto Total:</label>
                                <input type="text" id="monto-total" name="monto-total" [value]="pago[0].costo"
                                    readonly>

                            </div>

                            <!-- Tabla de pagos realizados -->
                            <h2>Pagos Realizados</h2>
                            <table>
                                <thead>
                                    <tr>
                                        <th>No. Pago</th>
                                        <th>Fecha</th>
                                        <th>Método</th>
                                        <th>Saldo Inicial</th>
                                        <th>Pago</th>
                                        <th>Saldo Final</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of pago; let i = index">
                                        <!-- <td>{{ item.idPago }}</td> -->
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ item.fechaPago | date:'dd/MM/yyyy':'UTC' }}</td>
                                        <td>{{ item.metodo }}</td>
                                        <td>{{ item.montoInicial }}</td> <!-- CAMBIAR AL MONTO INICIAL -->
                                        <td>{{ item.monto }}</td>
                                        <td>{{ item.montoRestante }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
            <br />
            <!-- Botones -->
            <div class="button-container">
                <button 
                type="button" class="btn btn-success" id="openModalBtn" data-bs-toggle="modal" 
                    data-bs-target="#modalRealizarPago">{{ esCliente ? 'Realizar pago' : 'Registrar pago' }}</button>
                    
                <button type="button" class="btn btn-primary" (click)="imprimirExpediente()">Expediente Pagos</button>
            </div> <br />


            <!-- MODAL PARA PAGO     -->
            <div class="modal" id="modalRealizarPago" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h3>{{ esCliente ? 'Realizar pago' : 'Registrar pago' }}</h3>
                            <label for="folioExpediente">Folio:</label>
                            <input type="text" id="folioExpediente" name="folioExpediente" [value]="pago[0].folio" readonly>
                            <label for="saldo-inicial">Saldo restante:</label>
                            <input type="number" id="saldo-restante" class="form-control" [value]="pago[pago.length -1].montoRestante" readonly>
                            <label for="cantidad-pago">Cantidad pago:</label>
                            <input type="number" id="cantidad-pago" class="form-control" [(ngModel)]="cantidadPago" (input)="validarPago()"
                                required>
                            <span class="text-danger" *ngIf="!esCantidadValida">La cantidad a pagar tiene que ser mayor a 0 y menor a saldo restante</span>
                            <label for="fecha">Fecha:</label>
                            <input type="date" id="fecha" class="form-control" [value]="fechaActual" readonly required>
                            <br>
                            <!-- Botones de secretaria -->
                            <div class="modal-buttons" *ngIf="!this.esCliente">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-success" type="button" (click)="pagarServicio()"
                                        >Registrar Pago</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-danger"
                                            data-bs-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Botones de cliente -->
                            <div class="modal-buttons" *ngIf="this.esCliente">
                                <div class="row">
                                    <div #paypal class="paypal-button"></div>
                                    <div>
                                        <button type="button" class="btn btn-primary"
                                            (click)="imprimirReferencia()">Imprimir referencia de pago</button>
                                        <button type="button" class="btn btn-danger"
                                            data-bs-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>