<div class="wrapper">
    <app-barra-lateral></app-barra-lateral> <!-- Asegúrate de que el selector del componente sea correcto -->

    <div class="main">
        <nav class="navbar navbar-expand-lg p-0" style="background-color: #001f3f;"> <!-- Azul marino -->
            <div class="container-fluid p-0"> <!-- También aquí -->
                <a class="navbar-brand" href="#">
                    <img src="logo/logoLexVargasV.png" alt="LexVargas Logo" width="200"
                        class="d-inline-block align-text-top">
                </a>
            </div>
        </nav>

        <div class="p-3">
            <form id="formPagos">
                <div class="container mt-2">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Realizar pago</h2>

                            <!-- Datos del expediente -->
                            <label for="folioExpediente">Folio:</label>
                            <input type="text" id="folioExpediente" name="folioExpediente" value="000484102" readonly>
                            <!-- <select id="folioExpediente" class="form-select">
            <option>Seleccione una opción</option>
            <option value="1">Opción 1</option>
            <option value="2">Opción 2</option>
            Agregar las opciones correspondientes al select de la BD
        </select> <br/> -->

                            <label for="nombre-caso">Nombre del caso:</label>
                            <input type="text" id="nombre-caso" name="nombre-caso" value="Divorcio" readonly>


                            <label for="nombre-cliente">Nombre del cliente:</label>
                            <input type="text" id="nombre-cliente" name="nombre-cliente"
                                value="Roberto Alexis Díaz Galindo" readonly>

                            <label for="monto-total">Monto Total:</label>
                            <input type="text" id="monto-total" name="monto-total" value="$20000" readonly>

                            <label for="estatus">Estatus:</label>
                            <input type="text" id="estatus" name="estatus" value="En proceso" readonly>

                            <!-- Tabla de pagos realizados -->
                            <h2>Pagos Realizados</h2>
                            <table>
                                <thead>
                                    <tr>
                                        <th>No. Pago</th>
                                        <th>Fecha</th>
                                        <th>Método</th>
                                        <th>Saldo Inicial</th>
                                        <th>Pago</th>
                                        <th>Saldo Final</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>001</td>
                                        <td>15/8/24</td>
                                        <td>Pago en línea</td>
                                        <td>20000</td>
                                        <td>3000</td>
                                        <td>17000</td>
                                    </tr>
                                    <tr>
                                        <td>002</td>
                                        <td>15/9/24</td>
                                        <td>Pago en línea</td>
                                        <td>17000</td>
                                        <td>5000</td>
                                        <td>12000</td>
                                    </tr>
                                    <tr>
                                        <td>003</td>
                                        <td>15/10/24</td>
                                        <td>Pago en línea</td>
                                        <td>12000</td>
                                        <td>4000</td>
                                        <td>8000</td>
                                    </tr>
                                    <tr>
                                        <td>004</td>
                                        <td>20/10/24</td>
                                        <td>Pago en línea</td>
                                        <td>8000</td>
                                        <td>3000</td>
                                        <td>5000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
            <br/>
            <!-- Botones -->
            <div class="button-container">
                <!-- <button type="button" class="btn btn-secondary"  id="openModalBtn"  data-bs-toggle="modal" data-bs-target="#modalRealizarPagoSec">Registrar Pago</button> -->
                <button type="button" class="btn btn-secondary" id="openModalBtn" data-bs-toggle="modal"
                    data-bs-target="#modalRealizarPagoCli">Realizar Pago</button>
                <button type="button" class="btn btn-secondary" (click)="imprimirExpediente()">Expediente Pagos</button>
            </div> <br />


            <!-- MODAL PARA PAGO  DESDE SECRETARIA     -->
            <div class="modal" id="modalRealizarPagoSec" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h3>Registrar pago</h3>
                            <label for="folioExpediente">Folio:</label>
                            <input type="text" id="folioExpediente" name="folioExpediente" value="000484102" readonly>
                            <label for="saldo-inicial">Saldo restante:</label>
                            <input type="number" id="saldo-restante" class="form-control" value="8000" readonly>
                            <label for="cantidad-pago">Cantidad pago:</label>
                            <input type="number" id="cantidad-pago" class="form-control" [(ngModel)]="cantidadPago"
                                required>
                            <label for="fecha">Fecha:</label>
                            <input type="date" id="fecha" class="form-control" value="" required>
                            <br>
                            <div class="modal-buttons">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button">Registrar Pago</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btnCancelar"
                                            data-bs-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- MODAL PARA PAGO  DESDE CLIENTE     -->
            <div class="modal" id="modalRealizarPagoCli" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div id="realizarPago">
                                <h3>Realizar pago</h3>
                                <label for="folioExpediente">Folio:</label>
                                <input type="text" id="folioExpediente" name="folioExpediente" value="000484102"
                                    readonly>
                                <label for="saldo-inicial">Saldo restante:</label>
                                <input type="number" id="saldo-restante" class="form-control" value="5000" readonly>
                                <label for="cantidad-pago">Cantidad pago:</label>
                                <input type="number" id="cantidad-pago" class="form-control" [(ngModel)]="cantidadPago"
                                    required>
                                <label for="fecha">Fecha:</label>
                                <input type="date" id="fecha" class="form-control" value="" required>
                            </div>
                            <br>
                            <div class="modal-buttons">
                                <div class="row">
                                    <div #paypal class="paypal-button"></div>
                                    <div>
                                        <button type="button" class="btn btn-secondary"
                                            (click)="imprimirReferencia()">Imprimir referencia de pago</button>
                                        <button type="button" class="btnCancelar"
                                            data-bs-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>