/* Estilos Generales */
.wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

app-barra-lateral {
  height: 100vh;
  flex-shrink: 0;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.p-3 {
  background-image: url('/imagenes/fondo1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
  max-height: 100vh;
  background-color: #fafbfe;
  padding: 2rem;
  overflow-y: auto;
}

/* Estilos para los Cards */
.card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 1rem;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #0e2238;
  text-align: center;
}

.card-text {
  font-size: 14px;
  color: #0e2238;
  text-align: justify;
}

.btn-primary {
  background-color: #0e2238;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Estilo para la Barra de Navegación */
.navbar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para el Contenedor de Filtros */
.filtros-container {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-width: 1250px; /* Reducir la anchura máxima del contenedor */
}

.filtros-container h3 {
  color: #0e2238;
  font-weight: 600;
  margin-bottom: 20px;
}

.filtros-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  width: 100%;
}

.form-group {
  width: 100%;
}

.filtro-input,
.filtro-select {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  font-size: 0.9em;
}

.filtro-input:focus,
.filtro-select:focus {
  border-color: #0e2238;
  box-shadow: 0 0 5px rgba(14, 34, 56, 0.5);
}

label {
  color: #0e2238;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

/* Estilo para el Botón Nuevo Cliente */
.btn-primary-custom {
  background-color: #004080;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn-primary-custom:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn-primary-custom:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 80, 160, 0.4);
}

/* Estilo para el título de "Clientes" */
.titulo-clientes {
  font-size: 2.2em; /* Aumenta el tamaño del texto */
  font-weight: 800; /* Muy en negrita para hacerlo más visible */
  color: #ffffff; /* Color blanco puro */
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.6); /* Añade una sombra luminosa para destacar el texto */
  margin-bottom: 20px; /* Espacio inferior para separarlo */
  text-align: left; /* Alinear a la izquierda */
  padding-bottom: 10px; /* Añadir espacio adicional para separar del borde */
  border-bottom: 4px solid #ffffff; /* Borde inferior blanco translúcido */
  padding-left: 15px; /* Espacio a la izquierda para alinear mejor */
  box-shadow: 0 4px 2px -2px #ffffff; /* Sombra debajo del título para resaltar */
  letter-spacing: 1px; /* Espacio entre letras para darle elegancia */
}

