.p-3 {
    display: flex;
    background-image: url('/imagenes/fondo1.jpg');
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
    margin: 0 auto; /* Elimina márgenes excesivos */
    height: 100%; /* Asegura que el contenedor ocupe toda la altura */
    overflow-y: auto;
  }