/* Estilos existentes para la estructura principal */
.wrapper {
  display: flex; /* Asegura que los hijos se alineen horizontalmente */
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
  overflow: hidden; /* Evita el desbordamiento del contenedor principal */
}

app-barra-lateral {
  height: 100vh; /* Asegura que la barra lateral ocupe toda la altura de la ventana */
  flex-shrink: 0; /* Evita que la barra lateral se reduzca */
}

.main {
  flex-grow: 1; /* Permite que el contenedor principal ocupe el espacio restante */
  display: flex;
  flex-direction: column; /* Permite que el contenido de la clase .p-3 se apile verticalmente */
}

.p-3 {
  background-image: url('/imagenes/fondo1.jpg'); /* Ruta desde la raíz del servidor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  flex-grow: 1; /* Permite que el contenedor principal ocupe el espacio restante */
  max-height: 100vh; /* Asegura que el contenido no exceda la altura de la ventana */
  background-color: #fafbfe; /* Color de fondo igual al de la barra lateral */
  padding: 2rem; /* Añade algo de espacio alrededor del contenido */
  overflow-y: auto; /* Permite el desplazamiento vertical si el contenido es muy grande */
}

/* Estilos para el modal */
.card {
  border: 1px solid #ddd; /* Borde ligero para la tarjeta */
  border-radius: 0.5rem; /* Bordes redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.card-body {
  padding: 2rem; /* Espacio interno para el contenido de la tarjeta */
}

.form-label {
  font-weight: bold; /* Etiquetas más destacadas */
}

.form-control {
  border-radius: 0.25rem; /* Bordes redondeados para los campos */
  border: 1px solid #ced4da; /* Borde gris claro */
}

.btn-primary {
  background-color: #0e2238; /* Color principal del botón */
  border: none; /* Sin borde */
  color: white; /* Texto blanco */
}

.btn-primary:hover {
  background-color: #0056b3; /* Color al pasar el mouse */
}

.divider {
  border: none; /* Sin borde */
  border-top: 3px solid #BF913B; /* Línea de color */
  margin: 1rem 0; /* Margen superior e inferior para separar del texto */
}


.calendario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ccc;
  width: 14.28%;
  height: 40px;
  text-align: center;
}

th {
  background-color: #f0f0f0;
}