.wrapper {
    display: flex; /* Asegura que los hijos se alineen horizontalmente */
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
    overflow: hidden; /* Evita el desbordamiento del contenedor principal */
}

app-barra-lateral {
    height: 100vh; /* Asegura que la barra lateral ocupe toda la altura de la ventana */
    flex-shrink: 0; /* Evita que la barra lateral se reduzca */
}

.main {
    flex-grow: 1; /* Permite que el contenedor principal ocupe el espacio restante */
    display: flex;
    flex-direction: column; /* Permite que el contenido de la clase .p-3 se apile verticalmente */
}

.p-3 {
    flex-grow: 1; /* Permite que el contenedor principal ocupe el espacio restante */
    max-height: 100vh; /* Asegura que el contenido no exceda la altura de la ventana */
    background-color: #fafbfe; /* Color de fondo igual al de la barra lateral */
    padding: 2rem; /* Añade algo de espacio alrededor del contenido */
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido es muy grande */
}



.calendario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ccc;
    width: 14.28%;
    height: 40px;
    text-align: center;
  }
  
  th {
    background-color: #f0f0f0;
  }
  



/* Estilos para los días según disponibilidad */
.verde {
  background-color: #4CAF50; /* Alta disponibilidad */
  color: white;
}

.amarillo {
  background-color: #FFEB3B; /* Poca disponibilidad */
  color: black;
}

.rojo {
  background-color: #F44336; /* Sin disponibilidad */
  color: white;
}

.gris {
  background-color: #9E9E9E; /* Día sin servicio (Domingo) */
  color: white;
}

/* Tabla explicativa */
.tabla-explicativa {
  margin-top: 30px;
}

.table th, .table td {
  text-align: center;
}

button {
  margin-top: 10px;
}

select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
